<!DOCTYPE html>
<html lang="en">
	<head>
		<title>PWD-Person With Disability</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- Favicon -->
		<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
		<!-- CSS Frameworks -->
		<link rel="stylesheet" href="/bower_components/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/icon/feather/css/feather.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/pwd.css">
		<link rel="stylesheet" href="/assets/css/jquery.mCustomScrollbar.css">
		<!-- DataTables CSS -->
		<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
	</head>
	<body>
		<!-- Pre-loader start -->
		<div class="theme-loader">
			<div class="ball-scale">
				<div class='contain'>
					<div class="ring">
						<div class="frame"></div>
					</div>
					<div class="ring">
						<div class="frame"></div>
					</div>
					<div class="ring">
						<div class="frame"></div>
					</div>
					<div class="ring">
						<div class="frame"></div>
					</div>
					<div class="ring">
						<div class="frame"></div>
					</div>
					<div class="ring">
						<div class="frame"></div>
					</div>
					<div class="ring">
						<div class="frame"></div>
					</div>
					<div class="ring">
						<div class="frame"></div>
					</div>
					<div class="ring">
						<div class="frame"></div>
					</div>
					<div class="ring">
						<div class="frame"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- Pre-loader end -->
		<div id="pcoded" class="pcoded">
			<div class="pcoded-overlay-box"></div>
			<div class="pcoded-container navbar-wrapper">
				<nav class="navbar header-navbar pcoded-header">
					<div class="navbar-wrapper">
						<div class="navbar-logo">
							<a class="mobile-menu" id="mobile-collapse" href="#!">
								<i class="feather icon-menu"></i>
							</a>
							<a href="index-1.htm">
								<img class="img-fluid" src="\assets\images\logo.png" alt="Theme-Logo">
							</a>
							<a class="mobile-options">
								<i class="feather icon-more-horizontal"></i>
							</a>
						</div>
						<div class="navbar-container container-fluid">
							<ul class="nav-left">
								<li class="header-search">
									<div class="main-search morphsearch-search">
										<div class="input-group">
											<span class="input-group-addon search-close">
												<i class="feather icon-x"></i>
											</span>
											<input type="text" class="form-control" placeholder="Search...">
											<span class="input-group-addon search-btn">
												<i class="feather icon-search"></i>
											</span>
										</div>
									</div>
								</li>
								<li>
									<a href="#!" onclick="javascript:toggleFullScreen()">
										<i class="feather icon-maximize full-screen"></i>
									</a>
								</li>
								<li>
									<a href="/add_pwd" class="btn btn-primary rounded" id="addSeniorBtn" target="_blank">
										<i class="feather icon-user-plus"></i>ADD PDAO </a>
								</li>
							</ul>
							<ul class="nav-right"></ul>
							<ul class="nav-right">
								<li class="user-profile header-notification">
									<div class="dropdown-primary dropdown">
										<div class="dropdown-toggle" data-toggle="dropdown">
											<img src="\assets\images\avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
											<span>John Doe</span>
											<i class="feather icon-chevron-down"></i>
										</div>
										<ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
											<li>
												<a href="#!">
													<i class="feather icon-settings"></i> Settings </a>
											</li>
											<li>
												<a href="/logout">
													<i class="feather icon-log-out"></i> Logout </a>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</nav>
				<div class="pcoded-main-container">
					<div class="pcoded-wrapper">
						<nav class="pcoded-navbar">
							<div class="pcoded-inner-navbar main-menu">
								<div class="pcoded-navigatio-lavel">Navigation</div>
								<ul class="pcoded-item pcoded-left-item">
									<li class="pcoded-hasmenu active pcoded-trigger">
										<a href="javascript:void(0)">
											<span class="pcoded-micon">
												<i class="feather icon-home"></i>
											</span>
											<span class="pcoded-mtext">Dashboard</span>
										</a>
										<ul class="pcoded-submenu">
											<li class="active">
												<a href="/Pwd-form">
													<span class="">PDAO</span>
												</a>
											</li>
											<li class="">
												<a href="/Senior-form">
													<span class="">OSCA</span>
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</nav>
						<div class="pcoded-content">
							<div class="pcoded-inner-content">
								<div class="main-body">
									<div class="page-wrapper">
										<div class="container">
											<h1>PWD-PERSON WITH DISABILITY</h1>
											<div class="filter-container">
												<div class="filter-group">
													<label for="barangay-filter">Barangay:</label>
													<select id="barangay-filter" class="form-control">
														<option value="">All Barangays</option><% Object.keys(barangays).forEach(barangay => { %> <option value="<%= barangay %>"><%= barangay %> </option><% }) %>
													</select>
												</div>
												<div class="filter-group">
													<label for="purok-filter">Purok:</label>
													<select id="purok-filter" class="form-control" disabled>
														<option value="">First select a Barangay</option>
													</select>
												</div>
											</div>
											<% if (pwds && pwds.length > 0) { %>
											 <table id="example" class="display" style="width:100%">
												<thead>
													<tr>
														<th>Full Name</th>
														<th>Age</th>
														<th>Barangay</th>
														<th>Purok</th>
														<th>Civil Status</th>
														<th>Actions</th>
													</tr>
												</thead>
												<tbody><% pwds.forEach(pwd => { %> <tr>
														<td><%= pwd.first_name  %>  <%= pwd.middle_name %>  <%= pwd.last_name %> </td>
														<td><%= pwd.age  %> </td>
														<td><%= pwd.barangay %> </td>
														<td><%= pwd.purok %> </td>
														<td><%= pwd.civil_status %> </td>
														<td>
															<div class="action-container">
																<button class="action action-primary view-btn" aria-label="View" data-toggle="modal" data-target="#viewModal" 
																	data-pwd='<%= JSON.stringify(pwd).replace(/'/g, "&apos;") %>'>
																	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
																		<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
																		<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
																	</svg>
																</button>
																<button class="action action-success" aria-label="Edit" data-toggle="modal" data-target="#editModal">
																	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
																		<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
																	</svg>
																</button>
															</div>

															
															<!-- View Modal -->
															<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalTitle" aria-hidden="true">
																<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
																	<div class="modal-content">
																		<div class="modal-header">
																			<h5 class="modal-title" id="viewModalTitle">
																				<span id="displayLastName"></span>
																				<span id="displayFirstName"></span> 
																				<span id="displayMiddleName"></span>
																			</h5>
																			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">&times;</span>
																			</button>
																		</div>
																		<div class="modal-body">
																			<!-- Personal Information -->
																			<fieldset>
                        <legend>PERSONAL INFORMATION</legend>
                        <p>
                            <strong>Address:</strong>
                            <span id="displayBarangay"></span> 
							<span id="displayPurok"></span>
                        </p>
                        <p>
                            <strong>Birthday:</strong>
                            <span id="displayBirthday"></span> 
							<span id="displayAge"></span> years old)
                        </p>
                        <p>
                            <strong>Gender:</strong>
                            <span id="displayGender"></span>
                        </p>
                        <p>
                            <strong>Civil Status:</strong>
                            <span id="displayCivilStatus"></span>
                        </p>
                        <p>
                            <strong>Place of Birth:</strong>
                            <span id="displayPlaceOfBirth"></span>
                        </p>
                        <p id="displaySpouse" style="display: none;">
                            <strong>Spouse Name:</strong>
                            <span id="displaySpouseName"></span>
                        </p>
                        <p>
                            <strong>Father's Name:</strong>
                            <span id="displayFatherName"></span>
                        </p>
                        <p>
                            <strong>Mother's Name:</strong>
                            <span id="displayMotherName"></span>
                        </p>
                    </fieldset>
                    <!-- Right - Contact Information -->
                    <fieldset style="flex: 1; margin-left: 10px;">
                        <legend>CONTACT INFORMATION</legend>
                        <div id="displayContacts">
                            <!-- Contacts will be dynamically inserted here -->
                        </div>
                    </fieldset>
                </div>
                <!-- Middle Row: ID Information + Education -->
                <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                    <!-- Left - ID Information -->
                    <fieldset style="flex: 1; margin-right: 10px;">
                        <legend>ID INFORMATION</legend>
                        <p>
                            <strong>SSS No:</strong>
                            <span id="displaySSS"></span>
                        </p>
                        <p>
                            <strong>GSIS No:</strong>
                            <span id="displayGSIS"></span>
                        </p>
                        <p>
                            <strong>PSN No:</strong>
                            <span id="displayPSN"></span>
                        </p>
                        <p>
                            <strong>Philhealth No:</strong>
                            <span id="displayPhilhealth"></span>
                        </p>
                    </fieldset>
                    <!-- Right - Education Information -->
                    <fieldset style="flex: 1; margin-left: 10px;">
                        <legend>EDUCATION & EMPLOYMENT</legend>
                        <p>
                            <strong>Education Level:</strong>
                            <span id="displayEducationLevel"></span>
                        </p>
                        <p>
                            <strong>Employment Status:</strong>
                            <span id="displayEmploymentStatus"></span>
                        </p>
                        <p id="displayEmploymentCategory" style="display: none;">
                            <strong>Employment Category:</strong>
                            <span id="displayEmpCategory"></span>
                        </p>
                        <p id="displayEmploymentType" style="display: none;">
                            <strong>Employment Type:</strong>
                            <span id="displayEmpType"></span>
                        </p>
                    </fieldset>
                </div>
                <!-- Bottom Row: Disability Information -->
                <fieldset>
                    <legend>DISABILITY INFORMATION</legend>
                    <div style="display: flex; justify-content: space-between;">
                        <!-- Left - Types of Disability -->
                        <div style="flex: 1; margin-right: 10px;">
                            <h5>Types of Disability</h5>
                            <div id="displayDisabilityTypes">
                                <!-- Disability types will be dynamically inserted here -->
                            </div>
                        </div>
                        <!-- Right - Causes of Disability -->
                        <div style="flex: 1; margin-left: 10px;">
                            <h5>Causes of Disability</h5>
                            <div id="displayDisabilityCauses">
                                <!-- Disability causes will be dynamically inserted here -->
                            </div>
                        </div>
                    </div>
                </fieldset>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Add ASS</button>
				</div>
            </div>
        </div>
    </div>
</div>
															<!-- Edit Modal -->
															<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
																<div class="modal-dialog modal-dialog-centered" role="document">
																	<div class="modal-content">
																		<div class="modal-header">
																			<h5 class="modal-title" id="editModalTitle">Edit Resident Information</h5>
																			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">&times;</span>
																			</button>
																		</div>
																		<div class="modal-body">
																			<form id="editResidentForm">
																				<!-- Top Row: Personal Info + Contact Info -->
																				<div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
																					<!-- Left - Personal Information -->
																					<fieldset style="flex: 1; margin-right: 10px;">
																						<legend>PERSONAL INFORMATION</legend>
																						<div class="form-group">
																							<label for="editName">Name:</label>
																							<input type="text" class="form-control" id="editName" value="Juan Dela Cruz">
																						</div>
																						<div class="form-group">
																							<label for="editBarangay">Barangay:</label>
																							<input type="text" class="form-control" id="editBarangay" value="Barangay Uno">
																						</div>
																						<div class="form-group">
																							<label for="editPurok">Purok:</label>
																							<input type="text" class="form-control" id="editPurok" value="Purok Dos">
																						</div>
																						<div class="form-group">
																							<label for="editBirthday">Birthday:</label>
																							<input type="date" class="form-control" id="editBirthday" value="1990-01-01">
																						</div>
																						<div class="form-group">
																							<label for="editGender">Gender:</label>
																							<select class="form-control" id="editGender">
																								<option value="Male" selected>Male</option>
																								<option value="Female">Female</option>
																								<option value="Other">Other</option>
																							</select>
																						</div>
																						<div class="form-group">
																							<label for="editPlaceOfBirth">Place of Birth:</label>
																							<input type="text" class="form-control" id="editPlaceOfBirth" value="City Hospital">
																						</div>
																						<div class="form-group">
																							<label for="editCivilStatus">Civil Status:</label>
																							<select class="form-control" id="editCivilStatus">
																								<option value="Single" selected>Single</option>
																								<option value="Married">Married</option>
																								<option value="Widowed">Widowed</option>
																								<option value="Separated">Separated</option>
																							</select>
																						</div>
																						<div class="form-group" id="editSpouseGroup" style="display: none;">
																							<label for="editSpouseName">Spouse Name:</label>
																							<input type="text" class="form-control" id="editSpouseName" value="Maria Dela Cruz">
																						</div>
																					</fieldset>
																					<!-- Right - Contact Information -->
																					<fieldset style="flex: 1; margin-left: 10px;">
																						<legend>CONTACT INFORMATION</legend>
																						<div class="form-group">
																							<label>Primary Contact:</label>
																							<div class="form-group">
																								<label for="editPrimaryContactName">Name:</label>
																								<input type="text" class="form-control" id="editPrimaryContactName" value="Maria Dela Cruz">
																							</div>
																							<div class="form-group">
																								<label for="editPrimaryContactRelation">Relation:</label>
																								<input type="text" class="form-control" id="editPrimaryContactRelation" value="Spouse">
																							</div>
																							<div class="form-group">
																								<label for="editPrimaryContactPhone">Phone:</label>
																								<input type="tel" class="form-control" id="editPrimaryContactPhone" value="09123456780">
																							</div>
																							<div class="form-group">
																								<label for="editPrimaryContactEmail">Email:</label>
																								<input type="email" class="form-control" id="editPrimaryContactEmail" value="maria@example.com">
																							</div>
																						</div>
																						<div class="form-group">
																							<label>Emergency Contact:</label>
																							<div class="form-group">
																								<label for="editEmergencyContactName">Name:</label>
																								<input type="text" class="form-control" id="editEmergencyContactName" value="Pedro Dela Cruz">
																							</div>
																							<div class="form-group">
																								<label for="editEmergencyContactRelation">Relation:</label>
																								<input type="text" class="form-control" id="editEmergencyContactRelation" value="Brother">
																							</div>
																							<div class="form-group">
																								<label for="editEmergencyContactPhone">Phone:</label>
																								<input type="tel" class="form-control" id="editEmergencyContactPhone" value="09123456781">
																							</div>
																						</div>
																					</fieldset>
																				</div>
																				<!-- Bottom Row: ID Information + Education -->
																				<div style="display: flex; justify-content: space-between;">
																					<!-- Left - ID Information -->
																					<fieldset style="flex: 1; margin-right: 10px;">
																						<legend>ID INFORMATION</legend>
																						<div class="form-group">
																							<label for="editSSS">SSS No:</label>
																							<input type="text" class="form-control" id="editSSS" value="987654321">
																						</div>
																						<div class="form-group">
																							<label for="editGSIS">GSIS No:</label>
																							<input type="text" class="form-control" id="editGSIS" value="987654321">
																						</div>
																						<div class="form-group">
																							<label for="editTIN">TIN No:</label>
																							<input type="text" class="form-control" id="editTIN" value="456123789">
																						</div>
																						<div class="form-group">
																							<label for="editPhilhealth">Philhealth No:</label>
																							<input type="text" class="form-control" id="editPhilhealth" value="789123456">
																						</div>
																						<div class="form-group">
																							<label for="editPSN">PSN No:</label>
																							<input type="text" class="form-control" id="editPSN" value="SC-2023-001">
																						</div>
																						<div class="form-group">
																							<label for="editOtherID">Other Gov't ID:</label>
																							<input type="text" class="form-control" id="editOtherID" value="UMID-789456123">
																						</div>
																					</fieldset>
																					<!-- Right - Education Information -->
																					<fieldset style="flex: 1; margin-left: 10px;">
																						<legend>EDUCATIONAL ATTAINMENT</legend>
																						<div class="form-group">
																							<label for="editEducationLevel">Education Level:</label>
																							<select class="form-control" id="editEducationLevel">
																								<option value="Elementary">Elementary</option>
																								<option value="High School">High School</option>
																								<option value="College Undergraduate">College Undergraduate</option>
																								<option value="College Graduate" selected>College Graduate</option>
																								<option value="Post Graduate">Post Graduate</option>
																								<option value="Vocational">Vocational</option>
																							</select>
																						</div>
																					</fieldset>
																				</div>
																			</form>
																		</div>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
																			<button type="button" class="btn btn-primary" id="saveChangesBtn">Save Changes</button>
																		</div>
																	</div>
																</div>
															</div>
														</td>
													</tr><% }); %> </tbody>
											</table><% } else { %> <div class="alert alert-info text-center"> No data found. </div><% } %>
										</div>
										<!-- Container div -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="styleSelector"></div>
				</div>
			</div>
		</div>
		</div>
		</div>
		</div>
		</div>
		<script>
			// Convert EJS data to JavaScript object
			const barangaysData = <%- JSON.stringify(barangays) %>;
			
			// Wait for DOM to be fully loaded
			document.addEventListener('DOMContentLoaded', function() {
				// Get select elements
				const barangaySelect = document.getElementById('barangay-filter');
				const purokSelect = document.getElementById('purok-filter');
				
				// Initialize DataTable with filtering capability
				var table = $('#example').DataTable({
					paging: true,
					pageLength: 10,
					lengthMenu: [5, 10, 25, 50, 100],
					responsive: true,
					rowCallback: function(row) {
						if ($(row).hasClass('dt-empty')) {
							$(row).hide();
						}
					}
				});

				// Initialize purok dropdown as disabled
				purokSelect.disabled = true;

				// Barangay change event handler
				barangaySelect.addEventListener('change', function() {
					const selectedBarangay = this.value;
					purokSelect.innerHTML = '';
					
					const defaultOption = document.createElement('option');
					defaultOption.value = '';
					defaultOption.textContent = 'Select Purok';
					purokSelect.appendChild(defaultOption);
					
					purokSelect.disabled = !selectedBarangay;
					
					if (selectedBarangay && barangaysData[selectedBarangay]) {
						const allOption = document.createElement('option');
						allOption.value = 'all';
						allOption.textContent = 'All Puroks';
						purokSelect.appendChild(allOption);
						
						barangaysData[selectedBarangay].forEach(purok => {
							const option = document.createElement('option');
							option.value = purok;
							option.textContent = purok;
							purokSelect.appendChild(option);
						});
					}
					
					// Filter the table based on selected barangay
					if (selectedBarangay === '') {
						table.columns(2).search('').draw();
					} else {
						table.columns(2).search(selectedBarangay).draw();
					}
				});

				// Purok change event handler
				purokSelect.addEventListener('change', function() {
					const selectedPurok = this.value;
					const selectedBarangay = barangaySelect.value;
					
					if (selectedPurok === 'all') {
						// Show all puroks in selected barangay
						table.columns(3).search('').draw();
					} else if (selectedPurok === '') {
						// Show all records in selected barangay (no purok filter)
						table.columns(3).search('').draw();
					} else {
						// Filter by specific purok
						table.columns(3).search(selectedPurok).draw();
					}
				});

				// View modal code
				const viewButtons = document.querySelectorAll('.view-btn');
				
				viewButtons.forEach(button => {
					button.addEventListener('click', function() {
						try {
							const pwdData = JSON.parse(this.getAttribute('data-pwd'));
							console.log('PWD Data:', pwdData);
							
							// Basic Information
							document.getElementById('displayFirstName').textContent = pwdData.first_name || 'N/A';
							document.getElementById('displayMiddleName').textContent = pwdData.middle_name || '';
							document.getElementById('displayLastName').textContent = pwdData.last_name || 'N/A';
							
							// Address Information
							document.getElementById('displayBarangay').textContent = pwdData.barangay || 'N/A';
							document.getElementById('displayPurok').textContent = pwdData.purok || 'N/A';
							
							// Personal Information
							document.getElementById('displayBirthday').textContent = pwdData.birthday ? new Date(pwdData.birthday).toLocaleDateString() : 'N/A';
							document.getElementById('displayAge').textContent = pwdData.age || 'N/A';
							document.getElementById('displayGender').textContent = pwdData.gender || 'N/A';
							document.getElementById('displayCivilStatus').textContent = pwdData.civil_status || 'N/A';
							document.getElementById('displayPlaceOfBirth').textContent = pwdData.place_of_birth || 'N/A';
							
							// Spouse Information
							if (pwdData.civil_status === 'Married' && pwdData.spouse_name) {
								document.getElementById('displaySpouse').style.display = 'block';
								document.getElementById('displaySpouseName').textContent = pwdData.spouse_name;
							} else {
								document.getElementById('displaySpouse').style.display = 'none';
							}
							
							// Parent Information
							const fatherName = `${pwdData.fatherFirstName || ''} ${pwdData.fatherMiddleName || ''} ${pwdData.fatherLastName || ''} ${pwdData.fatherExtension || ''}`.trim();
							const motherName = `${pwdData.motherFirstName || ''} ${pwdData.motherMiddleName || ''} ${pwdData.motherLastName || ''}`.trim();
							
							document.getElementById('displayFatherName').textContent = fatherName || 'N/A';
							document.getElementById('displayMotherName').textContent = motherName || 'N/A';
							
							// Contact Information
							const contactsContainer = document.getElementById('displayContacts');
							contactsContainer.innerHTML = '';
							
							if (pwdData.contacts && pwdData.contacts.length > 0) {
								pwdData.contacts.forEach(contact => {
									const contactElement = document.createElement('div');
									contactElement.className = 'contact-item';
									contactElement.innerHTML = `
										<p><strong>${contact.type ? contact.type.toUpperCase() : 'CONTACT'}:</strong></p>
										<p>Name: ${contact.name || 'N/A'}</p>
										<p>Relationship: ${contact.relationship || 'N/A'}</p>
										<p>Phone: ${contact.phone || 'N/A'}</p>
										${contact.email ? `<p>Email: ${contact.email}</p>` : ''}
										<hr>
									`;
									contactsContainer.appendChild(contactElement);
								});
							} else {
								contactsContainer.innerHTML = '<p>No contact information available</p>';
							}
							
							// ID Information
							document.getElementById('displaySSS').textContent = pwdData.sss_id || 'N/A';
							document.getElementById('displayGSIS').textContent = pwdData.gsis_sss_no || 'N/A';
							document.getElementById('displayPSN').textContent = pwdData.psn_no || 'N/A';
							document.getElementById('displayPhilhealth').textContent = pwdData.philhealth_no || 'N/A';
							
							// Education and Employment
							document.getElementById('displayEducationLevel').textContent = pwdData.education_level || 'N/A';
							document.getElementById('displayEmploymentStatus').textContent = pwdData.employment_status || 'N/A';
							
							if (pwdData.employment_status === 'Employee') {
								document.getElementById('displayEmploymentCategory').style.display = 'block';
								document.getElementById('displayEmploymentType').style.display = 'block';
								document.getElementById('displayEmpCategory').textContent = pwdData.employment_category || 'N/A';
								document.getElementById('displayEmpType').textContent = pwdData.employment_type || 'N/A';
							} else {
								document.getElementById('displayEmploymentCategory').style.display = 'none';
								document.getElementById('displayEmploymentType').style.display = 'none';
							}
							
							// Disability Information
							const disabilityTypesContainer = document.getElementById('displayDisabilityTypes');
							disabilityTypesContainer.innerHTML = '';
							
							if (pwdData.disability && pwdData.disability.length > 0) {
								pwdData.disability.forEach(type => {
									const typeElement = document.createElement('p');
									typeElement.textContent = type || 'N/A';
									if (type === 'Other' && pwdData.disability_other_text) {
										typeElement.textContent += ` (${pwdData.disability_other_text})`;
									}
									disabilityTypesContainer.appendChild(typeElement);
								});
							} else {
								disabilityTypesContainer.innerHTML = '<p>No disability types specified</p>';
							}
							
							// Causes of Disability
							const disabilityCausesContainer = document.getElementById('displayDisabilityCauses');
							disabilityCausesContainer.innerHTML = '';
							
							if (pwdData.cause_disability && pwdData.cause_disability.length > 0) {
								pwdData.cause_disability.forEach(cause => {
									const causeElement = document.createElement('p');
									causeElement.textContent = cause || 'N/A';
									if (cause === 'Other' && pwdData.cause_other_text) {
										causeElement.textContent += ` (${pwdData.cause_other_text})`;
									}
									disabilityCausesContainer.appendChild(causeElement);
								});
							} else {
								disabilityCausesContainer.innerHTML = '<p>No causes specified</p>';
							}
						} catch (e) {
							console.error('Error parsing PWD data:', e);
						}
					});
				});
			});
		</script>
		<!-- Required Jquery -->
		<script type="text/javascript" src="\bower_components\jquery\js\jquery.min.js"></script>
		<script type="text/javascript" src="\bower_components\jquery-ui\js\jquery-ui.min.js"></script>
		<script type="text/javascript" src="\bower_components\popper.js\js\popper.min.js"></script>
		<script type="text/javascript" src="\bower_components\bootstrap\js\bootstrap.min.js"></script>
		<!-- DataTables JS -->
		<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
		<!-- Other scripts -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
		<script type="text/javascript" src="\bower_components\jquery-slimscroll\js\jquery.slimscroll.js"></script>
		<script type="text/javascript" src="\bower_components\modernizr\js\modernizr.js"></script>
		<script type="text/javascript" src="\bower_components\modernizr\js\css-scrollbars.js"></script>
		<script type="text/javascript" src="\bower_components\chart.js\js\Chart.js"></script>
		<script src="\assets\pages\widget\amchart\amcharts.js"></script>
		<script src="\assets\pages\widget\amchart\serial.js"></script>
		<script src="\assets\pages\widget\amchart\light.js"></script>
		<script type="text/javascript" src="\assets\js\SmoothScroll.js"></script>
		<script src="\assets\js\pcoded.min.js"></script>
		<script src="\assets\js\jquery.mCustomScrollbar.concat.min.js"></script>
		<script src="\assets\js\vartical-layout.min.js"></script>
		<script type="text/javascript" src="\assets\pages\dashboard\analytic-dashboard.min.js"></script>
		<script type="text/javascript" src="\assets\js\script.js"></script>
		<script type="text/javascript" src="\assets\js\senior.js"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
		<script>
			window.dataLayer = window.dataLayer || [];

			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());
			gtag('config', 'UA-23581568-13');
		</script>
	</body>
</html>